a{
    text-decoration: none;
    font-size: 2em;
    font-weight: bolder;
    color: green;
    height: 150px;
    width: 300px;
}
#l2{
    color: white;
}
#l3{
    color: black;
}
#l1{
    color: black;
}
#box{
    color: white;
}